body{
    width: 80%;
    margin: auto;
}

img{
    width: 17%;
    height: 100%;
}

#logo{
    margin-left: -4%;
}

form{
    margin-top: -45px;
}

input{
    width: 50%;
}

.show{
    border: 1px solid gray;
    margin-top: 25px;
    height: 500px;
}

.list{
    width: 90%;
    margin: auto;
}

li{
    list-style: none;
    margin-top: 10px;
}
